<html>
<head></head>
<style>
	body{ 
	background-image: url('http://wallpapercave.com/wp/QLnDcJB.jpg');

	}
</style>
<center>
<div class ="Book Delete">
	<h2> Delete Book</h2>

	<%= form_for(:books, url:{action:'destroy',id: @book.id}) do |t| %>

	<p> are you sure you want to delete this book</p>

	<p class="refernce-name"> <%= @book.name %> </p>

	<div class ="form-buttons">
		<%= submit_tag("Delete Book") %>
	</div>
	
	<% end %>
</div>	
<%=link_to "Back to  page list", controller:"book", action:'list',class: "back-list" %>
</center>	
